#homeBackground {
	background-image: url("home.jpg");
	height: 100vh;
	width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	margin: 5px  
}

#home {
    display: grid;
    grid-gap: 5%;
    grid-row-gap: 5%;
    grid-template-columns: 1fr 1fr;
    margin: 5%;
    justify-items: right;
}

#mathematics {
    border-style: solid;
    border-width: 5px;
    border-color: #b4580c;
    background-color: orange;
    width: 50%;
    height: 80%;
    padding: 5px;
    display: inline-block;
    margin-right: 0px;
    margin-top: 5%;
}
   
#sciNature  {
    border-style: solid;
    border-color: #b4580c;
    background-color: orange;
    border-width:5px;
    width: 50%;
    height: 80%;
    padding: 5px;
    display: inline-block;
    margin-top: 5%;
    margin-right: 45%;
}
   
#sports {
    border-style: solid;
    border-color: #b4580c;
    background-color: orange;
    border-width:5px;
    width: 50%;
    height: 70%;
    padding: 5px;
    display: inline-block;
    margin-right: 0px;
    margin-bottom: 10%;
}
   
#animals {
    border-style: solid;
    border-color: #b4580c;
    background-color: orange;
    border-width:5px;
    width: 50%;
    height: 70%;
    padding: 5px;
    display: inline-block;
    margin-bottom: 10%;
    margin-right: 45%;
}

.chooseBtn {
    font-size: 1.4em;
    padding: 10px;
    background-color: rgb(50, 156, 50);
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin: 0 auto;
    width: 100px;
}